// Mixins Here

.nav-text() {
  text-align: center;
  width: 60%;

  @media @phone {
    width: 80%;
  }
}

.flex(@direction: row, @justify: center, @align: center) {
  display: flex;
  flex-direction: @direction;
  justify-content: @justify;
  align-items: @align;
}

.button(@background: @header-font-color, @text: @porcelain, @fontSize: 1.75rem, @padding: 1rem 2rem, @width: 30%) {
  background: @background;
  color: @text;
  padding: @padding;
  border-radius: 5px;
  text-align: center;
  font-size: @fontSize;
  width: @width;

  &:hover {
    background: @text;
    color: @background;
  }
}

.flash-once(@duration: 1s, @primary-color: white, @secondary-color: black) {
  @keyframes blinkOnce {
    0% {
      background: @primary-color;
      color: @secondary-color;
    }
    100% {
      background: @secondary-color;
      color: @primary-color;
    }
  }
  animation: blinkOnce @duration ease-in;
  animation-fill-mode: forwards;
}
