// Navigation code here
header {
  width: 100%;

  div.container {
    .flex(@direction: column);

    * {
      width: 60%;
      text-align: center;
    }
    nav {
      .flex(@justify: space-evenly);
    }
  }
}
